@import url("../utils/_reset.css");
@import url("../utils/_colors.css");
@import url("../utils/_fonts.css");

/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

/* @tailwind base;

@tailwind components;

@tailwind utilities; */

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  margin: 9rem 1.5rem 14rem 1.5rem;
  padding-top: 3.5rem;
  /* border-top: 2px solid rgba(226, 232, 240, 1);   */
}

button:hover {
  opacity: 0.9;
}

/* responsive font-size */
@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  .card {
    height: 400px !important;
    min-width: 100% !important;
  }

  main {
    margin: 9rem 1.5rem 4rem 1.5rem;
  }

  .card div {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .card .mid-block-1 {
    padding: 2rem !important;
    position: relative;
  }

  .work {
    flex-direction: column;
  }
  .mid-block-1 div {
    bottom: 2rem !important;
  }
}

@media screen and (max-width: 700px) {
  .li {
    width: 100% !important;
    margin: 1rem !important;
  }

  section {
    padding-bottom: 2rem !important;
  }

  .work div {
    margin: 0 !important;
  }

  h2 {
    margin-bottom: 1rem !important;
  }

  .title-projects {
    margin: 2rem 0 0 0 !important;
  }

  .card .mid-block-1 {
    padding: 1rem !important;
    width: 80%;
  }

  .card .mid-block-2 {
    width: 30%;
  }

  .mid-block-1 div {
    bottom: 0rem !important;
  }

  .mid-block-1 div img {
    width: 2.5rem;
  }

  .card h3 {
    font-size: 2rem;
    line-height: 2rem !important;
  }
}

@media screen and (max-width: 500px) {
  main {
    margin: 3rem 1rem 2rem 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem 1rem 1rem !important;
  }

  footer ul li {
    margin: 1.5rem !important;
  }

  footer div {
    padding: 0 !important;
  }

  section {
    margin: 1rem !important;
    padding-bottom: 1 !important;
  }

  h2 {
    margin-bottom: 0 !important;
  }

  .work ul {
    margin-left: -1.5rem;
  }
}
