.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2rem;
  z-index: 1;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
}

.logo {
  width: 100px;
  border-radius: 50%;
}

.links {
  margin-left: auto;
}

.link {
  margin: 0 2rem;
  color: var(--color-light);
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .links {
    display: flex;
  }

  .nav {
    display: flex;
  }

  .link {
    margin: 0 1rem;
  }
}
