.presentation {
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
margin-bottom: 10rem;
}

.presentation_left {
    width: 400px;
    margin: 0 5rem;
}

.presentation_right {
    width: 600px;
    margin: 0 6rem;
}

.left_title {
    font-size: 55px;
    font-weight: 700;
    color: var(--color-dark);
}

.left_text {
    margin: 1rem 0 2rem 0;
    font-size: 35px;
    font-weight: 500;
    color: var(--color-light);
    line-height: 2.5rem;
}

.right_text {
    font-size: 24px;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--color-semi-light);
}

.langages {
    font-weight: 600;
}

